.searchBar{
    display: flex;
    margin: 20px 0;
}

.searchBar > *{
    height: 100%;
    padding: 5px;
    margin: auto;
}

.searchBox{
    flex: 1;
    margin: 0 20px;
}

.flexParent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px -10px;
}

.flexChild{
    display: block;
    flex: 1;
    text-align: center;
    background-color: #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.flexChild:hover{
    background-color: #bbb;
}

.flexChild img{
    margin: 10px;
    width: 200px;
}