.cartItem,
.buttonBar {
    display: flex;
    flex-direction: row;
}

.itemPhoto{
    margin-right: 30px;
    margin-bottom: 20px;
}

.blueButton {
    margin-right: 15px;
}

.itemDetail {
    flex: 1;
}

.productName {
    font-size: 32px;
    font-weight: 600;
}

.productCost {
    font-size: 28px;
    font-weight: 600;
}

.removeItem:hover {
    background-color: #eee;
}

.removeItem:active {
    background-color: #ddd;
}

.cardlogo {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 30px;
}

.productDescription {
    text-align: justify;
}