.searchBar{
    display: flex;
    margin: 20px 0;
}

.searchBar > *{
    height: 100%;
    padding: 5px;
    margin: auto;
}

.searchBox{
    flex: 1;
    margin: 0 20px;
}

.flexParent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px -10px;
}

.flexChild{
    display: block;
    flex: 1;
    text-align: center;
    background-color: #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.flexChild:hover{
    background-color: #bbb;
}

.flexChild img{
    margin: 10px;
    width: 200px;
}

.bottomBar{
    position: fixed;
    right: calc(5% + 20px);
    bottom: 25px;
    
}

.bottomSpacer{
    height: 55px;
}

.toCart{
    background-color: rgb(255, 213, 0);
    font-weight: 600;
    font-size: 18pt;
    color: #000;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 6px;
    border: 3px #000;
    border-style: solid;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .toCart:hover{
    background-color: rgb(237, 197, 0);
  }
  
  .toCart:active{
    background-color: rgb(218, 181, 0);
  }

  .icon{padding: 5px;}